[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Reminder to Stand By
Icon=/usr/share/reminder2standBy/resources/moonOnBlue256.png
Exec=reminder2stand-by
StartupNotify=false
StartupWMClass=Reminder2standBy.py
OnlyShowIn=Unity;
X-UnityGenerated=true
