#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# do not pack theese files to .deb:
# danger, rule "__pycache__" really works as "*__pycache__*"
export DH_ALWAYS_EXCLUDE=.git:__pycache__:i18n_list.pro:reminder_ru_RU.ts:settings_win.ui:shell_commands.sh:reminders_config

%:
	dh $@ --with python3
